@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pecita';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/pecita/Pecita.otf) format('opentype');
 /* unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;*/
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.mfont {
  font-family: 'Pecita', serif;

}
@layer components {

  .button {
    @apply text-sky-500;
    @apply no-underline;

    @apply font-bold;
  @apply h-fit;

    cursor: pointer;
    box-shadow: inset 0 0 0 0 #fff;
    transition: color .3s ease-out, box-shadow .3s ease-out;

    margin: 0 0.5rem;
    padding: 0 0.25rem;


  }

  .button:hover {


    box-shadow: inset 200px 0 0 0 rgb(14 165 233 / var(--tw-text-opacity));
    color: white;

}

  .link {
    white-space: nowrap;
    @apply text-sky-500;
        @apply no-underline;

    @apply font-bold;
    @apply h-fit;


    --end: 0px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #fff;
    transition: color .1s ease-out, box-shadow .3s ease-out;

    margin: 0 0.1rem;
    padding: 0 0.25rem;

}

  .link:hover {

    box-shadow: inset var(--end) 0 0 0 rgb(14 165 233 / var(--tw-text-opacity));
    color: white;

}

  .link::after {
    content: " ↗";

  }
